<footer class="footer">
    <div class="footer-top">
      <div class="footer-left">
        <img src="Logo.png" alt="SMBSA Logo" class="footer-logo" />
        <p>SMBSA « Ennourhoudh » Maamoura</p>
        <p>Société Mutuelle de Base de Services</p>
        <p>Agricoles opérant dans l’agriculture et la pêche.</p>
      </div>
  
      <div class="footer-links">
        <h5>Liens Rapides</h5>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="">Nouveautés</a></li>
          <li><a href="">Nos Services</a></li>
          <li><a href="">Pourquoi nous rejoindre?</a></li>
          <li><a href="">Témoignages</a></li>
          <li><a href="">Comment adhérer à SMBSA</a></li>
          <li><a href="">Demande d'adhésion</a></li>
        </ul>
      </div>
  
      <div class="footer-contact">
        <h5>Contact</h5>
        <ul>
          <li><i class="fas fa-phone"></i> +216 58 174 055</li>
          <li><i class="fas fa-envelope"></i> mouha_benaliyahoo.fr</li>
          <li><i class="fas fa-map-marker-alt"></i> Avenue Habib Bourguiba, Maamoura</li>
        </ul>
      </div>
    </div>
  
    <hr />
  
    <div class="footer-bottom">
      <p>© 2025 SMBSA Maamoura. Tous droits réservés.</p>
      <div class="footer-links-bottom">
        <a href="">Mentions légales</a>
        <a href="">Politique de confidentialité</a>
      </div>
    </div>
  </footer>