body {
  font-family: monospace;
  background-color: #f8f9fa;
}

.container {
  border-radius: 12px;
  padding: 26px;
  min-height: 90vh;
  width: 95%;
}

/* Cartes */
.card {
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.badge {
  font-size: 14px;
  padding: 6px 12px;
}

/* Floating Labels */
.floating-label {
  position: relative;
}

.floating-label input {
  padding-left: 2rem;
  font-size: 14px;
  border-radius: 8px;
}

.floating-label label {
  position: absolute;
  top: 12px;
  left: 2rem;
  font-size: 13px;
  color: #888;
  transition: 0.2s ease;
  pointer-events: none;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: -8px;
  left: 1.9rem;
  font-size: 11px;
  color: #198754;
  background: white;
  padding: 0 4px;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c757d;
}

/* Photo */
.photo-profil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e9ecef;
  border: 3px solid #198754;
}

.profile-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
label {
  font-weight: 500;
  color: #2b2b2b;
}
input.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.1);
}
