<div class="overlay" *ngIf="show" (click)="closeForm()">
  <div class="demande-form-container" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeForm()">✖</button>
    <h2 class="title"><i class="fas fa-file-alt"></i> Completer ce formulaire</h2>

    <form (ngSubmit)="confirm()" enctype="multipart/form-data">
      <div class="form-row">
        <label for="cin">CIN*</label>
        <input id="cin" type="text" [(ngModel)]="formData.cin" name="cin" required />
      </div>

      <div class="form-row">
        <label for="nom">Nom*</label>
        <input id="nom" type="text" [(ngModel)]="formData.nom" name="nom" required />
      </div>

      <div class="form-row">
        <label for="prenom">Prenom*</label>
        <input id="prenom" type="text" [(ngModel)]="formData.prenom" name="prenom" required />
      </div>

      <div class="form-row">
        <label for="birthdate">Date de naissance</label>
        <input type="date" id="birthdate" style="font-family: monospace;" [(ngModel)]="formData.dateNaissance" name="dateNaissance" />
      </div>

      <div class="form-row">
        <label>TEL*</label>
        <input type="text" [(ngModel)]="formData.telephone" name="telephone" required />
      </div>

      <div class="form-row">
        <label>E-mail*</label>
        <input type="email" [(ngModel)]="formData.email" name="email" required />
      </div>

      <div class="form-row">
        <label>Adresse*</label>
        <select [(ngModel)]="formData.adresse" name="adresse" required>
          <option value="" disabled selected>Choisissez une ville</option>
          <option>Beni khiar</option>
          <option>Diar ben salem</option>
          <option>Mamamoura</option>
          <option>Dar chaaben</option>
          <option>Somaa </option>
        </select>
      </div>
      

      <div class="form-row">
        <label>Activité*</label>
        <select [(ngModel)]="formData.activite" name="activite" required>
          <option value="" disabled selected>Choisissez une activité</option>
          <option>Agriculteur</option>
          <option>Élevage de bétail</option>
          <option>Apiculture</option>
          <option>Aviculture </option>
          <option>Pêche maritime</option>
          <option>Autre</option>
        </select>
      </div>
      

      <div class="form-row">
        <label>Justificatif d’activité*</label>
        <input type="file" (change)="handleFileUpload($event)" required accept="image/*"/>
      </div>

      <div class="form-buttons">
        <button class="cancel-btn" type="button" (click)="closeForm()">Annuler</button>
        <button class="confirm-btn" type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</div>
