<div class="reclamation-wrapper">
  <div class="header-bar">
    <div class="header-title">
      <i class="bi bi-envelope-exclamation-fill icon-large"></i>
      <h2>Réclamation d’exclusion</h2>
    </div>
    <button class="btn-retour" (click)="retourAccueil()" >
      <i class="bi bi-house-door-fill"></i> Accueil
    </button>
  </div>

  <p class="subtitle">Veuillez expliquer pourquoi vous contestez votre exclusion.</p>

  <form [formGroup]="reclamationForm" (ngSubmit)="submitReclamation()" class="reclamation-form">
    <div class="form-floating-group">
      <input id="cin" type="text" formControlName="cin" required />
      <label for="cin">CIN (8 chiffres)</label>
    </div>

    <div class="form-floating-group">
      <textarea id="motif" formControlName="motif" rows="4" required></textarea>
      <label for="motif">Motif de réclamation</label>
    </div>

    <div class="form-group-classique">
      <label for="dateReclamation">Date :</label>
      <input id="dateReclamation" type="date" formControlName="dateReclamation" readonly />
    </div>

    <div class="submit-wrapper">
      <button type="submit" [disabled]="!reclamationForm.valid">
        📤 Envoyer la réclamation
      </button>
    </div>
  </form>
</div>
