<div class="admin-container">
  <!-- Sidebar -->
  <aside class="sidebar" [class.closed]="isSidebarClosed">
    <!-- Toggle menu button -->
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Logo uniquement si le menu est ouvert -->
    <div class="logo-section custom-navbar" *ngIf="!isSidebarClosed">
      <img src="admin-logo.jpg" alt="Logo" class="logo-img" />
      <p class="brand-name">Administrateur</p>
    </div>

    <hr />

    <!-- Navigation -->
    <nav class="nav-links">
      <a routerLink="/admin-page/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-home"></i>
        <span *ngIf="!isSidebarClosed">Tableau de bord</span>
      </a>

      <a routerLink="/admin-page/demandes" routerLinkActive="active">
        <i class="fas fa-chalkboard-teacher"></i>
        <span *ngIf="!isSidebarClosed">Les demandes</span>
      </a>

      <a routerLink="/admin-page/adherents" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span *ngIf="!isSidebarClosed">Adhérents</span>
      </a>

      <a routerLink="/admin-page/gerer-transferts" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span *ngIf="!isSidebarClosed">Transferts</span>
      </a>

      
      <!-- Menu déroulant Gérer page -->
      <div class="submenu-parent" (click)="toggleSubMenu()">
        <i class="fas fa-cog"></i>
        <span *ngIf="!isSidebarClosed">Gérer </span>
        <i *ngIf="!isSidebarClosed" class="fas" [ngClass]="{
            'fa-chevron-down': isSubMenuOpen,
            'fa-chevron-right': !isSubMenuOpen
          }" style="margin-left:auto;"></i>
      </div>

      <!-- Sous-menus -->
      <div class="submenu-items" *ngIf="isSubMenuOpen">
        <a routerLink="/admin-page/nouveautes" routerLinkActive="active">
          <i class="fas fa-newspaper"></i>
          <span *ngIf="!isSidebarClosed">Les actualités</span>
        </a>
        <a routerLink="/admin-page/description-smbsa" routerLinkActive="active">
          <i class="fas fa-file-alt"></i>
          <span *ngIf="!isSidebarClosed">Description SMBSA</span>
        </a>
        <a routerLink="/admin-page/parametrage-page" routerLinkActive="active">
          <i class="fas fa-file-alt"></i>
          <span *ngIf="!isSidebarClosed">Parametrage</span>
        </a>
      </div>

      <a routerLink="/admin-page/reclamations" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i>
        <span *ngIf="!isSidebarClosed">Reclamations</span>
      </a>

      <a routerLink="/admin-page/demissions" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i>
        <span *ngIf="!isSidebarClosed">Demissions</span>
      </a>
      <a routerLink="/admin-page/compte-attente" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i>
        <span *ngIf="!isSidebarClosed">Comptes en attentes</span>
      </a>
    </nav>
  </aside>

  <!-- Main content -->
  <div class="main-content">
    <header class="top-bar">
      <div class="notification">
        <i class="fas fa-bell"></i>
        <span class="badge">{{ nombreDemandesEnAttente }}</span>
      </div>
      <button class="logout-btn" (click)="onLogout()">Déconnexion</button>
    </header>

    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
